app-top-header {
  background-color: #d9e1e6;
  display: flex;
  justify-content: center;
}

app-main-header,
app-main-menu {
  display: flex;
  padding: 30px;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;

  @media screen and (max-width: 992px) {
    padding: 10px 20px;
  }
}

app-main-menu {
  padding: 0 30px;
}
