<div class="productDetails">
  <h2>The Atelier Tailored Coat</h2>
  <div class="reviews">
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon class="dim">star</mat-icon>
    <span> 3 Review(s)</span>
    <a href="#">Add Review</a>
  </div>
  <div class="price">
    <h2>$499.00</h2>
  </div>
  <div class="specs">
    <p>Availability: <span>In stock</span></p>
    <p>Product Code: <span>#4657</span></p>
    <p>Tags: <span>Fashion, Hood, Classic</span></p>
  </div>

  <div class="description">
    <p>Sleek, polished, and boasting an impeccably modern fit, this blue, 2-but-
      ton Lazio suit features a notch lapel, flap pockets, and accompanying flat
      front trousers—all in pure wool by Vitale Barberis Canonico.</p>
    <ul>
      <li> Dark blue suit for a tone-on-tone look</li>
      <li>Regular fit</li>
      <li>100% Cotton</li>
      <li>Free shipping with 4 days delivery</li>
    </ul>
  </div>

  <app-add-to-cart></app-add-to-cart>

</div>
