.reviews {
  display: flex;
  align-items: center;

  mat-icon {
    color: #ded3aa;
  }

  .dim {
    color: #dfdfde;
  }

  span {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
  }
}


.price {
  color: #68899a;
}

.specs {
  font-size: 14px;

  span {
    color: #68899a;
  }
}

.description {
  color: #555555;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 40px;
}


.productDetails {
  @media screen and (max-width: 992px) {
    padding-top: 640px;
  }
}
