<div class="container">
  <div class="">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="col menuLinks">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Men</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">Lookbook</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
  <div class="">
    <mat-icon>favorite_border</mat-icon>
    <mat-icon>search</mat-icon>

  </div>
</div>
