.menuLinks {
  justify-content: center;

  @media screen and (max-width: 992px) {
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 30px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #111111;
        font-size: 14px;
      }
    }
  }
}

.mat-icon {
  vertical-align: text-bottom;
}

.container {
  @media screen and (max-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
}
