.gallery-container {
  position: relative;
  width: calc(100% - 40px) !important;
}

.product-details {
  align-items: flex-start;
  min-height: 700px;
  padding: 40px 0;
}

.col {
  padding: 0 20px;
}
