<div class="container product-details">
  <div class="col gallery-container">
    <app-gallery></app-gallery>
  </div>
  <div class="col">
    <app-product-details></app-product-details>
  </div>
</div>
