// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angularTask-primary: mat-palette($mat-indigo);
$angularTask-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angularTask-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angularTask-theme: mat-light-theme($angularTask-primary, $angularTask-accent, $angularTask-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angularTask-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center;
}

.mat-form-field-infix {
  width: 100px !important;
}


.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  .col-3 {
    flex-grow: 1;
    width: 33%;
  }
}


.col {
  display: flex;
  flex: 1;
}
