<form class="m-form" [formGroup]="addToCart" (ngSubmit)="onSubmit()" (ngChange)="onChanges()">
  <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Color" formControlName="color">
        <mat-option *ngFor="let color of colors" [value]="color">
          {{color}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Size" formControlName="size">
        <mat-option *ngFor="let size of sizes" [value]="size" [disabled]="disabledSize === size">
          {{size}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Qty" formControlName="qty">
        <mat-option *ngFor="let qty of qtyList" [value]="qty">
          {{qty}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary" type="submit" [disabled]="!addToCart.valid">Add to cart</button>
  <button mat-flat-button type="button" (click)="addToWishlist()" [ngClass]="{'mat-accent': wishlist}">
    <mat-icon>favorite_border</mat-icon>
    Add to wishlist
  </button>
</form>
