.m-form {
  @media screen and (max-width: 992px) {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  mat-form-field {
    width: 100%;
    margin-right: 20px;
  }
}

.mat-flat-button {
  padding: 6px 26px;
  border-radius: 0;
  text-transform: uppercase;
}


.mat-flat-button.mat-primary {
  background-color: #000000;

  @media screen and (max-width: 992px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 992px) {
    margin-right: 20px;

  }
}

.mat-flat-button.mat-primary[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}
