<div class="container">
  <div class="col-3 currency">
    <app-currency></app-currency>
  </div>
  <div class="col-3 logo">
    <a href="#">
      <mat-icon svgIcon="logo"></mat-icon>
    </a>
  </div>
  <div class="col-3">
    <app-cart></app-cart>
  </div>
</div>
