<mat-form-field>
  <mat-select [(value)]="selected">
    <mat-select-trigger>
      <mat-icon [svgIcon]="selected"></mat-icon>
      {{selected}}
    </mat-select-trigger>
    <mat-option value="USD">
      <mat-icon svgIcon="USD"></mat-icon>
      USD
    </mat-option>
    <mat-option value="EUR">
      <mat-icon svgIcon="EUR"></mat-icon>
      EUR
    </mat-option>
    <mat-option value="AED">
      <mat-icon svgIcon="AED"></mat-icon>
      AED
    </mat-option>
  </mat-select>
</mat-form-field>
